#head_div {
    background-color: blanchedalmond;
    color:rgb(0, 0, 0);
    border: 4px solid #e4c200;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
}

#links {
    background-color: rgb(219, 219, 219);
    border: 2px solid rgb(114, 114, 114);
    padding: 3px;
    margin: 30px;
    vertical-align: center;
    text-align: center;
}

a {
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #e4c200;
}